// CARD 

.card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  max-width: 210px;
  width: 100%;
  transition: box-shadow 0.3s;

  padding: 30px;

  position: relative;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.09);
  }
}

.card__img {
  max-width: 133px;
  width: 100%;
  margin-bottom: 15px;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.card__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 150px;
  width: 100%;
  margin-bottom: 15px;
}

.card__price {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #BDBDBD;
  display: block;
}

.card__price-text {
  color: #000;
}

.card__btn {
  width: 32px;
  height: 32px;
  border: 1px solid #F2F2F2;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.card__btn--fav {
  top: 30px;
  left: 30px;

  &:focus {
    background-color: #FEF0F0;

    .card__icon--fav {
      fill: #fff;
    }
  }

  &:hover {
    background-color: #FEF0F0;

    .card__icon--fav {
      fill: #fff;
    }
  }

  &:active {
    background-color: #FEF0F0;

    .card__icon--fav {
      fill: #FF8585;
    }
  }
}

.card__btn--add {
  bottom: 30px;
  right: 30px;

  &:focus {
    background-color: #89F09C;

    .card__icon--add {
      fill: #fff;
    }
  }

  &:hover {
    background-color: #89F09C;

    .card__icon--add {
      fill: #fff;
    }
  }

  &:active {
    background-color: #3CC755;

    .card__icon--add {
      fill: #fff;
    }
  }
}

.card__icon {
  width: 14px;
  height: 14px;
  fill: #D3D3D3;
  transition: fill 0.3s;
}