body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// RESET

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

// SETTING

// ACCESSIBILITY

.sr-only {
  position: absolute;
  display: block;
  margin: -1px 0 0 -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

// OPTIONS

body {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  background-color: #E7F6FF;
}

// Styles page

.wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  overflow: hidden;
}

.header {  
  border-bottom: 1px solid #EAEAEA;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
}

.header__btn {
  width: 20px;
  height: 20px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:focus {
    .header__icon {
      fill: #1c1c1c;
    }
  }
  &:hover {
    .header__icon {
      fill: #3cc755;
    }
  }
  &:active {
    .header__icon {
      fill: #89f09c;
    }
  }
}

.header__icon {
  width: 20px;
  height: 20px; 
  fill: #9B9B9B;
  transition: fill 0.3s;
}

.header__text {
  font-weight: 600;
  color: #5C5C5C;
}

// CONTENT

.content {
  padding: 45px;
}

.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content__title {
  font-size: 32px;
  color: #000;
}

.content__search-label {
  position: relative;
}

.content__search-icon {
  position: absolute;
  top: 50%;
  left: 18px; 
  transform: translateY(-50%); 
}

.content__search {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  padding: 15px 18px 15px 46px;
}

.content__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 40px;
  justify-items: center;
}

// CARD 

.card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  max-width: 210px;
  width: 100%; 
  transition: box-shadow 0.3s;

  padding: 30px;

  position: relative;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.09);
  }
}

.card__img {
  max-width: 133px;
  width: 100%; 
  margin-bottom: 15px;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.card__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 150px;
  width: 100%;
  margin-bottom: 15px;
}

.card__price {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #BDBDBD;
  display: block;
}

.card__price-text {
  color: #000;
}

.card__btn {
  width: 32px;
  height: 32px;
  border: 1px solid #F2F2F2;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.card__btn--fav {
  top: 30px;
  left: 30px;

  &:focus {
    background-color: #FEF0F0;

    .card__icon--fav {
      fill: #fff;
    }
  }

  &:hover {
    background-color: #FEF0F0;

    .card__icon--fav {
      fill: #fff;
    }
  }

  &:active {
    background-color: #FEF0F0;

    .card__icon--fav {
      fill: #FF8585;
    }
  }
}

.card__btn--add {
  bottom: 30px;
  right: 30px;

  &:focus {
    background-color: #89F09C;

    .card__icon--add {
      fill: #fff;
    }
  }

  &:hover {
    background-color: #89F09C;

    .card__icon--add {
      fill: #fff;
    }
  }

  &:active {
    background-color: #3CC755;

    .card__icon--add {
      fill: #fff;
    }
  }
}

.card__icon {
  width: 14px;
  height: 14px;
  fill: #D3D3D3;
  transition: fill 0.3s;
}



